@import "~assets/_mixins";

.counter {
  color: $color-primary;
  background: $color-foreground;
  border-radius: 0.3em;
  padding: 0.1em;
  box-shadow: 3px 3px 15px transparentize($color: black, $amount: 0.5);
}