@import "~assets/_mixins";

$transparent-primary-background: transparentize($color: $color-primary, $amount: .5);
$transparent-primary-foreground: transparentize($color: $color-primary, $amount: .9);

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    .albumCover {
        display: flex;
        align-content: center;
        justify-content: center;
        width: 100%;
        .image {
            max-width: 500px;
            height: auto;
            transition: box-shadow 200ms ease-in-out;
            box-shadow: 0 0 35px transparentize($color: black, $amount: 0.4);
        }
    }

    .progress {
        display: flex;
        width: 350px;
        align-items: center;
        .timestamp {
            width: 3em;
            color: white;
            $margin: .50em;
            &:first-of-type {
                margin-right: $margin;
                text-align: left;
            }
            &:last-of-type {
                margin-left: $margin;
                text-align: right;
            }
        }
        .progressbar {
            height: 15px;
            background: $transparent-primary-background;
            border-radius: 1px;
            position: relative;
            margin: 15px 0;
            width: 100%;
    
            >.bar {
                display: block;
                height: 100%;
                background-color: $color-primary;
                border-radius: 1px;
                position: relative;
                overflow: hidden;
                transition: background-color 100ms ease-in-out;
            }

            &:hover {
                >.bar {
                    background-color: $color-accent-500;
                }
            }
        
        }
    }

    .toolbar {
        min-width: 350px;
        display: flex;
        justify-content: space-around;
        > .toolbarButton {
            cursor: pointer;
            transition:
                color 100ms ease-in-out,
                transform 50ms ease-in-out;
            background: transparent;
            border: none;
            margin: .5em;
            padding: .5em;

            font-size: 1.1em;

            color: $transparent-primary-background;
            > i {
                transition: text-shadow 50ms ease-in-out;
            }

            @mixin higlight-button {
                >i {
                    text-shadow: 0 0 20px $color-primary;
                }

                transform: scale(1.3);
                color: $color-primary;
            }
            &:hover {
                @include higlight-button;
            }
            &:focus, &:active {
                outline: none;
                @include higlight-button;
            }
            &:active {
                transform: scale(1);
            }
            &:disabled {
                color: $transparent-primary-foreground;
                pointer-events: none;
            }
        }
    }
}