@import "~assets/_mixins";

$color: black;

@mixin container-float-left {
    top: 0;
    position: absolute;
    height: 100vh;
}

@mixin container-float-bottom {
    position: absolute;
    bottom: 0;
    width: 100%;
    max-height: 6em;
    overflow: scroll;
}

.container {
    color: $color-primary;
    background-color: transparentize($color: $color, $amount: .2);
    backdrop-filter: blur(10px);
    box-shadow: 0 0 20px 5px transparentize($color: black, $amount: .4);

    @include desktop() { @include container-float-left(); }
    @include laptop-desktop() { @include container-float-left(); }
    @include tablet-portrait() { @include container-float-left(); }
    
    @include lowrestablet-landscape() { @include container-float-bottom(); }
    @include smartphone-portrait { @include container-float-bottom(); }

    .songList {
        list-style: none;
        padding: 0em;
        margin: 0;
        .songListItem {
            padding: 1em;
            cursor: pointer;
            transition: background-color 100ms ease-in-out;
            &:hover {
                background-color: transparentize($color: $color-primary, $amount: .8);
            }
            &.songListItemActive {
                color: $color-accent-500
            }
        }
    }
}