$color-primary: white;
$color-accent-500: peachpuff;
$color-accent-200: darken($color-accent-500, 20%);
$color-foreground: rgb(185, 185, 185);

/* 
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/
@mixin desktop() {
    @media (min-width: 1281px) {
        @content;
    }
}

/* 
  ##Device = Laptops, Desktops
  ##Screen = B/w 1025px to 1280px
*/
@mixin laptop-desktop() {
    @media (min-width: 1025px) and (max-width: 1280px) {
        @content;
    }
}

/* 
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/
@mixin tablet-portrait {
    @media (min-width: 768px) and (max-width: 1024px) {
        @content;
    }
}

/* 
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/
@mixin lowrestablet-landscape {
    @media (min-width: 481px) and (max-width: 767px) {
        @content;
    }
}

/* 
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/
@mixin smartphone-portrait {
    @media (min-width: 320px) and (max-width: 480px) {
        @content;
    }
}