@import "mixins";

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    color: $color-primary;
    @include desktop {
        font-size: 21px;
    }
    @include smartphone-portrait {
        font-size: 21px;
    }
    @include tablet-portrait {
        font-size: 18px;
    }
}

a {
    color: $color-accent-500;
    transition: color 100ms ease-in;
    &:hover {
        color: $color-accent-200;
    }
}